/* .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .custom-expansion-panel {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
  }
  
  .custom-expansion-panel-header {
    background-color: #e0e0e0;
    color: black;
  }
  
  .custom-expansion-panel-content {
    padding: 16px;
  }
  .custom-expansion-panel-title{
    color: black;
  }

  .mat-expansion-panel{
    color: black;
  }
  .mat-panel-title{
    color: black;
  }
  .mat-expansion-panel-header-title{
    color: black;
  }

  .mat-expansion-panel-header-description{
    color: black;
  }
  .example-card{
    background-color: white;
  }
  .mat-mdc-button:not(:disabled) {
    color: black;
} */