<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card ">
                        <div class="card-header ">
                            <h4 class="card-title">Create Listing</h4>
                        </div>
                        <div class="card-body ">
                            <mat-tab-group class="angular_tabs">
                                <mat-tab label="Single Input">
                                    <app-single-input-page></app-single-input-page>
                                </mat-tab>
                                <mat-tab label="Bulk Input">
                                    <app-make-excel-file-page></app-make-excel-file-page>
                                </mat-tab>
                                <mat-tab label="Bulk Upload Excel">
                                    <app-bulk-input-page></app-bulk-input-page>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                    <app-listing-history-page></app-listing-history-page>
                </div>
            </div>
        </div>
    </div>
</div>