/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size:18px;
  font-weight: 100;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 16px;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 16px;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 16px;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
  padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
} */
.main-panel{
  margin-left: 20px;
}
.content{
  margin-top: 70px;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
  --mat-tab-header-active-focus-label-text-color: #151414;
  --mat-tab-header-active-label-text-color : #151414;
  --mat-tab-header-inactive-label-text-color: rgb(0 0 0 / 60%);
  --mat-tab-header-inactive-focus-label-text-color: rgb(236 131 218 / 60%);
  --mat-tab-header-inactive-hover-label-text-color : rgb(236 131 218 / 60%);
  --mdc-tab-indicator-active-indicator-color: #242022;
  --mat-tab-header-active-hover-label-text-color: #5052c3;
  --mat-tab-header-inactive-ripple-color: #151113;
}