<section class="wrapper">
    <div class="container-fostrap">
        <div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-7">
                        <div class="card">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#Single_Input" type="button" role="tab"
                                        aria-controls="Single_Input" aria-selected="true">Single Input</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#bulk" type="button" role="tab" aria-controls="bulk"
                                        aria-selected="false">Bulk Upload</button>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="Single_Input" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <div class="card">
                                        <div class="card-content">
                                            <form class="row g-3">
                                                <div class="col-md-6">
                                                    <label for="inputEmail4" class="form-label">Customer Contact</label>
                                                    <input type="text" class="form-control" id="inputEmail4">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputPassword4" class="form-label">Customer
                                                        Name</label>
                                                    <input type="text" class="form-control" id="inputPassword4">
                                                </div>
                                                <div class="col-12">
                                                    <label for="inputAddress" class="form-label">Customer
                                                        Address</label>
                                                    <input type="text" class="form-control" id="inputAddress"
                                                        placeholder="1234 Main St">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputCity" class="form-label">City</label>
                                                    <input type="text" class="form-control" id="inputCity">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputCity" class="form-label">Order description</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                                        rows="3"></textarea>

                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputCity" class="form-label">Price</label>
                                                    <input type="text" class="form-control" id="inputCity">
                                                </div>

                                                <div class="col-md-6">
                                                    <label for="inputCity" class="form-label">Delivery Partner</label>
                                                    <input type="text" class="form-control" id="inputCity">
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary">Create</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="bulk" role="tabpanel" aria-labelledby="bulk">
                                    <div class="card">

                                        <div class="card-content">
                                            <div class="container d-flex justify-content-center">
                                                <div class="mt-5 row justify-content-center">

                                                    <div class="col-10 mb-3">
                                                        <label class="px-3">Select File: </label>
                                                        <input type="file" (change)="selectFile($event)"
                                                            accept=".xlsx" />
                                                    </div>

                                                    <div class="col-2">
                                                        <button class="btn btn-success btn-sm" (click)="uploadFile()">
                                                            Upload
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="card">

                            <div class="card-content">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">File Name</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [ngClass]="{'table-primary': file.status === 'READY_TO_DOWNLOAD',
                                                        'table-info': file.status === 'PENDING',
                                                        'table-danger':file.status === 'ERROR'}"
                                            *ngFor="let file of files">
                                            <td>{{file.fileName}}</td>
                                            <td>{{file.status}}</td>
                                            <td><button class="btn"><fa-icon [icon]="faDownload"></fa-icon></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item" *ngFor="let p of pages; let i = index"><a
                                                        class="page-link" (click)="setPage(i,$event)">{{i+1}}</a></li>

                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </tfoot>
                                </table>

                            </div>
                            <div class="card-read-more">
                                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="card">

                            <div class="card-content">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Receiver Name</th>
                                            <th scope="col">Receiver Address</th>
                                            <th scope="col">Receiver Contact</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-success">
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr class="table-danger">
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>Thornton</td>
                                            <td>Thornton</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr class="table-info">
                                            <td>Larry the Bird</td>
                                            <td>Thornton</td>
                                            <td>Thornton</td>
                                            <td>Thornton</td>
                                            <td>@twitter</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="card-read-more">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>