<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">Bulk Input</h4>
                <p class="card-category">Upload your file below</p>
            </div>
            <div class="card-body ">
                <div class="container d-flex justify-content-center">
                    <div class="mt-5 row justify-content-center">

                        <div class="col-8 mb-3">
                            <label class="px-3">Select File: </label>
                            <input type="file" (change)="selectFile($event)" accept=".xlsx" />
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success btn-sm" (click)="uploadFile()">
                                Upload
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">Bulk upload list</h4>
            </div>
            <div class="card-body ">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">File Name</th>
                            <th scope="col">Uploaded Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [ngClass]="{'table-primary': file.status === 'READY_TO_DOWNLOAD',
                                        'table-info': file.status === 'PENDING',
                                        'table-danger':file.status === 'ERROR'}" *ngFor="let file of files">
                            <td>{{ file.fileName }}</td>
                            <td>{{ file.dateTime * 1000 | date :'medium' }}</td>
                            <td>{{ file.status }}</td>
                            <td><button class="btn"><fa-icon [icon]="faDownload"></fa-icon></button>
                            </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" *ngFor="let p of pages; let i = index"><a class="page-link"
                                        (click)="setPage(i,$event)">{{i+1}}</a></li>

                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>