<h2 mat-dialog-title>View {{item.name}}</h2>

<mat-dialog-content class="mat-typography">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{item.subCategoryId.category.name}}</a></li>
            <li class="breadcrumb-item"><a href="#">{{item.subCategoryId.name}}</a></li>
        </ol>
    </nav>
    <!-- content -->
    <section class="py-5">
        <div class="container">
            <div class="row gx-5">
                <aside class="col-lg-6">
                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
                        <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image"
                            href="{{mainImg}}">
                            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
                                [src]="mainImg" />
                        </a>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <a *ngFor="let img of item.imgList" data-fslightbox="mygalley" class="border mx-1 rounded-2"
                            target="_blank" data-type="image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" [src]="img"
                                (click)="onClickImageSetToMain(img)" />
                        </a>

                    </div>
                    <!-- thumbs-wrap.// -->
                    <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            {{item.name}} <br />
                            {{item.subCategoryId.category.name}}
                        </h4>
                        <div class="d-flex flex-row my-3">
                            <div class="text-warning mb-1 me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="ms-1">
                                    4.5
                                </span>
                            </div>
                            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                            <span class="text-success ms-2">In stock</span>
                        </div>

                        <div class="mb-3">
                            <span class="h5">{{price | currency : 'LKR' : true}}</span>
                            <!-- <span class="text-muted">/per box</span> -->
                        </div>

                        <p>
                            {{item.itemDescriptionShort}}... <a>Show more</a>
                        </p>


                        <div class="row">
                            <dt class="col-3">Type:</dt>
                            <dd class="col-9">Regular</dd>

                            <dt class="col-3">Color</dt>
                            <dd class="col-9">Brown</dd>

                            <dt class="col-3">Material</dt>
                            <dd class="col-9">Cotton, Jeans</dd>

                            <dt class="col-3">Brand</dt>
                            <dd class="col-9">{{item.brand}}</dd>
                        </div>

                        <hr />

                        <div class="row mb-4">
                            <div class="col-md-4 col-6" *ngFor="let var1 of item.variantsList ; let i = index">
                                <label class="mb-2">Variant {{i+1}}</label>
                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                                    [(ngModel)]="selectedValue[i]" (change)="onToggleChange(i)">
                                    <mat-button-toggle value="{{v}}" *ngFor="let v of var1">{{v}}</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                        <div class="row mb-4" *ngIf="showQty">
                            <div class="col-4"><mat-form-field floatLabel="always">
                                    <mat-label>Amount *{{selectedVatiant.qty}} left</mat-label>
                                    <input matInput type="number" class="example-right-align" placeholder="0">
                                    <!-- <span matTextPrefix>$&nbsp;</span> -->
                                    <!-- <span matTextSuffix>.00</span> -->
                                </mat-form-field>
                            </div>

                        </div>
                        <a href="#" class="btn btn-warning shadow-0"> Buy now </a>
                        <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to
                            cart </a>

                    </div>
                </main>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row gx-5">
                <mat-tab-group>
                    <mat-tab label="Description">
                        <div [innerHTML]="sanitizedHtml"></div>
                    </mat-tab>
                    <mat-tab label="Rating & Reviews"> Content 2 </mat-tab>
                    <mat-tab label="Seller Details"> Content 3 </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </section>
    <!-- content -->

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="true" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>