<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Seller Portal</a>
        <div class="social-media order-lg-last">
            <p class="mb-0 d-flex">
                <a href="#" class="d-flex align-items-center justify-content-center"><fa-icon
                        [icon]="faFacebook"></fa-icon></a>
                <a href="#" class="d-flex align-items-center justify-content-center">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
                <a href="#" class="d-flex align-items-center justify-content-center"><fa-icon
                        [icon]="faTwitter"></fa-icon></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><fa-icon
                        [icon]="faDribbble"></fa-icon></a>
            </p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto mr-md-3">
                <li class="nav-item active"><a href='' class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                <li class="nav-item"><button type="button" class="btn btn-warning">Get Pro</button></li>
            </ul>
        </div>
    </div>
</nav>