
p {
    color: #b3b3b3;
    font-weight: 300; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  h2 {
    font-size: 20px; }
  
  .site-section {
    padding: 7rem 0; }
  
  /* aside, main {
    height: 100vh;
    min-height: 580px; } */
  
  aside {
    width: 300px;
    left:0;
    z-index: 1001;
    position: fixed;
    background-color: #fff;
   }
  
    aside {
      padding-left: 30px;
      /* padding-top: 30px; */
      position: fixed;
      right: 0;
  
    }
  
    aside .side-inner {
      padding: 30px 0;
      height: 100vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; }
      aside .side-inner .profile {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #efefef; }
        aside .side-inner .profile img {
          width: 80px;
          margin: 0 auto 20px auto;
          border-radius: 50%; }
        aside .side-inner .profile .name {
          font-size: 18px;
          margin-bottom: 0; }
        aside .side-inner .profile .country {
          font-size: 14px;
          color: #cfcfcf; }
      aside .side-inner .counter {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #efefef;
        text-align: center; }
        aside .side-inner .counter div .number {
          display: block;
          font-size: 20px;
          color: #000; }
        aside .side-inner .counter div .number-label {
          color: #cfcfcf; }
      aside .side-inner .nav-menu ul, aside .side-inner .nav-menu ul li {
        padding: 0;
        margin: 0px;
        list-style: none; }
      aside .side-inner .nav-menu ul li a {
        display: block;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #8b8b8b;
        position: relative;
        -webkit-transition: .3s padding-left ease;
        -o-transition: .3s padding-left ease;
        transition: .3s padding-left ease; }
        aside .side-inner .nav-menu ul li a:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 0px;
          background-color: #ff7315;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
          -o-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
          transition: .3s opacity ease, .3s visibility ease, .3s width ease;
        }
  
  
          aside .side-inner .nav-menu ul li a:hover:before {
            width: 4px;
            opacity: 1;
            visibility: visible; }
  
        aside .side-inner .nav-menu ul li.active a:before {
          opacity: 1;
          visibility: visible;
          width: 4px; }
  