<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <form class="row g-3" (ngSubmit)="addSingleItem()" #myForm="ngForm"
                                    enctype="multipart/form-data">
                                    <div class="col-md-12">
                                        <label for="inputEmail4" class="form-label">Product Name</label>
                                        <input type="email" class="form-control" id="itemName" name="itemName"
                                            [(ngModel)]="itemName" required>
                                        <div
                                            *ngIf="myForm.controls['itemName']?.invalid && (myForm.controls['itemName']?.dirty || myForm.controls['itemName']?.touched)">
                                            <div *ngIf="myForm.controls['itemName']?.errors" style="color: red;">Product
                                                Name is
                                                required.</div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label for="inputAddress2" class="form-label">Catagory</label>
                                        <select id="category" class="form-select" name="category" [(ngModel)]="category"
                                            (change)="getSubCategories(category)" required>
                                            <option selected>...</option>
                                            <option *ngFor="let cat of categories" [value]="cat.id">
                                                {{cat.name}}</option>
                                        </select>
                                        <div
                                            *ngIf="myForm.controls['category']?.invalid && (myForm.controls['category']?.dirty || myForm.controls['category']?.touched)">
                                            <div *ngIf="myForm.controls['category']?.errors" style="color: red;">
                                                Catagory
                                                is
                                                required.</div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label for="inputAddress2" class="form-label">Sub Catagory</label>
                                        <select id="subCategory" class="form-select" name="subCategory"
                                            [(ngModel)]="subCategory" required>
                                            <option selected>Choose...</option>
                                            <option *ngFor="let sub of subCategories" [value]="sub.id">
                                                {{sub.name}}</option>

                                        </select>
                                        <div
                                            *ngIf="myForm.controls['subCategory']?.invalid && (myForm.controls['subCategory']?.dirty || myForm.controls['subCategory']?.touched)">
                                            <div *ngIf="myForm.controls['subCategory']?.errors" style="color: red;">
                                                Image
                                                is
                                                required.</div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label for="inputAddress2" class="form-label">Brand</label>
                                        <input class="form-control" list="datalistOptions" id="brand"
                                            placeholder="Type to search..." name="brand" [(ngModel)]="brand" required>
                                        <datalist id="datalistOptions">
                                            <option *ngFor="let brand of brands" [value]="brand.name">
                                                {{brand.name}}</option>
                                        </datalist>
                                        <div
                                            *ngIf="myForm.controls['brand']?.invalid && (myForm.controls['brand']?.dirty || myForm.controls['brand']?.touched)">
                                            <div *ngIf="myForm.controls['brand']?.errors" style="color: red;">Brand is
                                                required.</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <label for="inputAddress2" class="form-label">Variant type</label>
                                            <select id="variant" class="form-select" name="variant" required
                                                [(ngModel)]="variant" (change)="getVariants(variant)">

                                                <option *ngFor="let va of variantListArray ; let i = index;"
                                                    value="{{i}}" [ngValue]="va">
                                                    {{va.name}}[{{va.list}}]</option>

                                            </select>
                                            <div
                                                *ngIf="myForm.controls['subCategory']?.invalid && (myForm.controls['subCategory']?.dirty || myForm.controls['subCategory']?.touched)">
                                                <div *ngIf="myForm.controls['subCategory']?.errors" style="color: red;">
                                                    Image
                                                    is
                                                    required.</div>
                                            </div>
                                        </div>

                                        <div class="col-md-2" *ngFor="let item of variantArray; let i = index;">
                                            <div class="row">
                                                <label for="inputState" class="form-label">{{item}} Qty</label>
                                                <input type="number" class="form-control" id="qty + {{item}}" name="qty"
                                                    [(ngModel)]="qtyArray[i]" placeholder="1" required>
                                                <!-- <div
                                                    *ngIf="myForm.controls['qty+{{item}}'].invalid && (myForm.controls['qty+{{item}}'].dirty || myForm.controls['qty+{{item}}'].touched)">
                                                    <div *ngIf="myForm.controls['qty+{{item}}'].errors"
                                                        style="color: red;">
                                                        qty is
                                                        required.</div>
                                                </div> -->
                                            </div>
                                            <div class="row">
                                                <label for="inputState" class="form-label">{{item}} Price</label>
                                                <input type="number" class="form-control" id="price+{{item}}"
                                                    name="price" [(ngModel)]="priceArray[i]" placeholder="1" required>
                                                <!-- <div
                                                    *ngIf="myForm.controls['price+{{item}}'].invalid && (myForm.controls['price+{{item}}'].dirty || myForm.controls['price+{{item}}'].touched)">
                                                    <div *ngIf="myForm.controls['price+{{item}}'].errors"
                                                        style="color: red;">
                                                        qty is
                                                        required.</div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="inputCity" class="form-label">Description</label>
                                        <textarea class="form-control" id="description" rows="3" name="description"
                                            [(ngModel)]="description" required></textarea>
                                        <div
                                            *ngIf="myForm.controls['description']?.invalid && (myForm.controls['description']?.dirty || myForm.controls['description']?.touched)">
                                            <div *ngIf="myForm.controls['description']?.errors" style="color: red;">
                                                Description is
                                                required.</div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="col-4">
                                            <label for="formFileSm" class="form-label">Image</label>
                                            <img *ngIf="!myForm.controls['img']?.invalid" [src]="imageUrl"
                                                class="rounded mx-auto d-block" alt="{{imageUrl}}"
                                                style="height: 100px; width: 100px;">
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control form-control-sm" id="img" type="file" name="img"
                                                [(ngModel)]="img" (change)="onFileSelected($event)" required>
                                            <div
                                                *ngIf="myForm.controls['img']?.invalid && (myForm.controls['img']?.dirty || myForm.controls['img']?.touched)">
                                                <div *ngIf="myForm.controls['img']?.errors" style="color: red;">
                                                    Image is
                                                    required.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary"
                                            [disabled]="myForm.invalid">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <table class="table table-hover table-fixed">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Item Name</th>
                                            <th>Created at</th>
                                            <th>Qty</th>
                                            <th>Brand</th>
                                            <th>Sub Category</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of items">
                                            <td class="col-3">
                                                <img [src]="item.image" alt="{{item.image}}" style="height: 75px; ">
                                            </td>
                                            <td class="col-4">{{item.name}}</td>
                                            <td scope="col">{{ item.createdAt * 1000 | date :'medium' }}</td>
                                            <td scope="col">
                                                <ol class="list-group list-group-numbered">
                                                    <li class="list-group-item d-flex justify-content-between align-items-start"
                                                        *ngFor="let variant of item.variants">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">{{variant.name}}</div>
                                                            {{variant.price | currency : 'LKR': true}}
                                                        </div>
                                                        <span
                                                            class="badge bg-primary rounded-pill">{{variant.qty}}</span>
                                                    </li>
                                                </ol>
                                            </td>
                                            <td scope="col">{{item.brand}}</td>
                                            <td scope="col">{{item.subCategoryId.name}}</td>
                                            <td scope="col">
                                                <button mat-icon-button color="primary" (click)="openViewDialog(item)"
                                                    aria-label="Example icon button with a home icon">
                                                    <mat-icon>remove_red_eye </mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary"
                                                    aria-label="Example icon button with a home icon"
                                                    (click)="openEditDialog(item)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary"
                                                    (click)="openConfirmationDialog(item.id, item.name)"
                                                    aria-label="Example icon button with a home icon">
                                                    <mat-icon>delete</mat-icon>
                                                </button>

                                            </td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item" *ngFor="let p of pages; let i = index"><a
                                                        class="page-link" (click)="setPage(i,$event)">{{i+1}}</a></li>

                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="card-read-more">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>