<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <form class="row g-3" (ngSubmit)="generateUploadRequest()" #myForm="ngForm"
                                    enctype="multipart/form-data">
                                    <div class="col-md-12">
                                        <label for="inputEmail4" class="form-label">Product Name</label>
                                        <input type="email" class="form-control" id="itemName" name="itemName"
                                            [(ngModel)]="itemName" required>
                                        <div
                                            *ngIf="myForm.controls['itemName']?.invalid && (myForm.controls['itemName']?.dirty || myForm.controls['itemName']?.touched)">
                                            <div *ngIf="myForm.controls['itemName']?.errors" style="color: red;">Product
                                                Name is
                                                required.</div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label for="inputAddress2" class="form-label">Catagory</label>
                                        <select id="category" class="form-select" name="category" [(ngModel)]="category"
                                            (change)="getSubCategories(category)" required>
                                            <option selected>...</option>
                                            <option *ngFor="let cat of categories" [value]="cat.id">
                                                {{cat.name}}</option>
                                        </select>
                                        <div
                                            *ngIf="myForm.controls['category']?.invalid && (myForm.controls['category']?.dirty || myForm.controls['category']?.touched)">
                                            <div *ngIf="myForm.controls['category']?.errors" style="color: red;">
                                                Catagory
                                                is
                                                required.</div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label for="inputAddress2" class="form-label">Sub Catagory</label>
                                        <select id="subCategory" class="form-select" name="subCategory"
                                            [(ngModel)]="subCategory" required>
                                            <option selected>Choose...</option>
                                            <option *ngFor="let sub of subCategories" [value]="sub.id">
                                                {{sub.name}}</option>

                                        </select>
                                        <div
                                            *ngIf="myForm.controls['subCategory']?.invalid && (myForm.controls['subCategory']?.dirty || myForm.controls['subCategory']?.touched)">
                                            <div *ngIf="myForm.controls['subCategory']?.errors" style="color: red;">
                                                Sub Catagory is required.</div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label for="inputAddress2" class="form-label">Brand</label>
                                        <input class="form-control" list="datalistOptions" id="brand"
                                            placeholder="Type to search..." name="brand" [(ngModel)]="brand" required>
                                        <datalist id="datalistOptions">
                                            <option *ngFor="let brand of brands" [value]="brand.name">
                                                {{brand.name}}</option>
                                        </datalist>
                                        <div
                                            *ngIf="myForm.controls['brand']?.invalid && (myForm.controls['brand']?.dirty || myForm.controls['brand']?.touched)">
                                            <div *ngIf="myForm.controls['brand']?.errors" style="color: red;">Brand is
                                                required.</div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="inputAddress2" class="form-label">Select Variants</label>
                                            <mat-form-field class="example-chip-list">

                                                <mat-chip-grid #chipGrid aria-label="Fruit selection">
                                                    <mat-chip-row *ngFor="let fruit of variants"
                                                        (removed)="remove(fruit)">
                                                        {{fruit}}
                                                        <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                                                            <mat-icon>cancel</mat-icon>
                                                        </button>
                                                    </mat-chip-row>
                                                </mat-chip-grid>
                                                <input placeholder="Variants..." #fruitInput [formControl]="fruitCtrl"
                                                    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    (matChipInputTokenEnd)="add($event)" />
                                                <mat-autocomplete #auto="matAutocomplete"
                                                    (optionSelected)="selected($event)">
                                                    <mat-option *ngFor="let fruit of filteredFruits | async"
                                                        [value]="fruit">
                                                        {{fruit}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class="row">
                                            <div class="col-4" *ngFor="let variant of variants; let i = index">
                                                <label for="inputAddress2" class="form-label">{{variant}}s</label>
                                                <hr>
                                                <mat-form-field class="example-chip-list">
                                                    <mat-label>{{variant}}s</mat-label>
                                                    <mat-chip-grid #chipGrid aria-label="Enter fruits">
                                                        <mat-chip-row
                                                            *ngFor="let singleVariant of getVariantsTypesToDisplay(i)"
                                                            (removed)="removeVariantType(singleVariant, i)"
                                                            [editable]="true"
                                                            (edited)="editVariantType(singleVariant, $event, i)"
                                                            [aria-description]="'press enter to edit ' + singleVariant">
                                                            {{singleVariant}}
                                                            <button matChipRemove
                                                                [attr.aria-label]="'remove ' + singleVariant">
                                                                <mat-icon>cancel</mat-icon>
                                                            </button>
                                                        </mat-chip-row>
                                                        <input placeholder="New {{variant}}..."
                                                            [matChipInputFor]="chipGrid"
                                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                            (matChipInputTokenEnd)="addVariantType($event, i)" />
                                                    </mat-chip-grid>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <mat-accordion>
                                            <mat-expansion-panel hideToggle>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Variants details
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        Add details to each variant
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div class="row">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr *ngFor="let variant of vTypesNew; let i = index;">
                                                                <th class="col-4">{{variant.name}}</th>
                                                                <td class="col-2">
                                                                    <label for="inputEmail4"
                                                                        class="form-label">Price</label>
                                                                    <input type="number" class="form-control"
                                                                        id="itemPrice{{i}}" name="itemPrice{{i}}"
                                                                        [(ngModel)]="variant.price"
                                                                        placeholder="{{variant.name}} price" required>
                                                                    <div
                                                                        *ngIf="myForm.controls['itemPrice{{i}}']?.invalid && (myForm.controls['itemPrice{{i}}']?.dirty || myForm.controls['itemPrice{{i}}']?.touched)">
                                                                        <div *ngIf="myForm.controls['itemPrice{{i}}']?.errors"
                                                                            style="color: red;">Price is equired.</div>
                                                                    </div>
                                                                </td>
                                                                <td class="col-2">
                                                                    <label for="inputEmail4"
                                                                        class="form-label">QTY.</label>
                                                                    <input type="number" class="form-control"
                                                                        id="itemQTY{{i}}" name="itemQTY{{i}}"
                                                                        [(ngModel)]="variant.qty"
                                                                        placeholder="{{variant.name}} QTY" required>
                                                                    <div
                                                                        *ngIf="myForm.controls['itemQTY{{i}}']?.invalid && (myForm.controls['itemQTY{{i}}']?.dirty || myForm.controls['itemQTY{{i}}']?.touched)">
                                                                        <div *ngIf="myForm.controls['itemQTY{{i}}']?.errors"
                                                                            style="color: red;">QTY is required.</div>
                                                                    </div>
                                                                </td>
                                                                <td class="col-4">
                                                                    <label for="inputEmail4"
                                                                        class="form-label">Image</label>
                                                                    <div class="row">
                                                                        <div class="col-4">
                                                                            <div class="form-check form-switch">
                                                                                <input mdbCheckbox
                                                                                    class="form-check-input"
                                                                                    type="checkbox" id="img{{i}}"
                                                                                    (change)="toggleValue(i, variant.useImage)"
                                                                                    [(ngModel)]="variant.useImage"
                                                                                    [ngModelOptions]="{standalone: true}"
                                                                                    [checked]="variant.useImage">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-8">
                                                                            <div class="col-4">
                                                                                <img *ngIf="!myForm.controls['img{{i}}']?.invalid"
                                                                                    [src]="variant.imgUrl"
                                                                                    class="rounded mx-auto d-block"
                                                                                    alt="{{variant.imgUrl}}"
                                                                                    style="height: 80px;"
                                                                                    formControlName="img{{i}}">
                                                                            </div>
                                                                            <div class="col-8" *ngIf="variant.useImage">
                                                                                <input
                                                                                    class="form-control form-control-sm"
                                                                                    id="img{{i}}" type="file"
                                                                                    name="img{{i}}"
                                                                                    [(ngModel)]="variant.imgUrl"
                                                                                    (change)="onSelectedFileVariantImage($event, i)"
                                                                                    required>
                                                                                <div
                                                                                    *ngIf="myForm.controls['img{{i}}']?.invalid">
                                                                                    <div *ngIf="myForm.controls['img{{i}}']?.errors"
                                                                                        style="color: red;">
                                                                                        Image is
                                                                                        required.</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="inputCity" class="form-label">Description</label>

                                        <div>
                                            <quill-editor [(ngModel)]="description" [modules]="editorConfig"
                                                id="editor-container" name="first"></quill-editor>
                                        </div>
                                        <div
                                            *ngIf="myForm.controls['description']?.invalid && (myForm.controls['description']?.dirty || myForm.controls['description']?.touched)">
                                            <div *ngIf="myForm.controls['description']?.errors" style="color: red;">
                                                Description is
                                                required.</div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="col-4">
                                            <label for="formFileSm" class="form-label">Image</label>
                                            <img *ngIf="!myForm.controls['img']?.invalid" [src]="imageUrl"
                                                class="rounded mx-auto d-block" alt="{{imageUrl}}"
                                                style="height: 100px; width: 100px;">
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control form-control-sm" id="img" type="file" name="img"
                                                [(ngModel)]="img" (change)="onFileSelected($event)" required>
                                            <div
                                                *ngIf="myForm.controls['img']?.invalid && (myForm.controls['img']?.dirty || myForm.controls['img']?.touched)">
                                                <div *ngIf="myForm.controls['img']?.errors" style="color: red;">
                                                    Image is
                                                    required.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary"
                                            [disabled]="myForm.invalid">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <table class="table table-hover table-fixed">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Item Name</th>
                                            <th>Created at</th>
                                            <th>Qty</th>
                                            <th>Brand</th>
                                            <th>Sub Category</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of items">
                                            <td class="col-3">
                                                <img [src]="item.image" alt="item thumbnail" style="height: 75px; ">
                                            </td>
                                            <td class="col-4">{{item.name}}</td>
                                            <td scope="col">{{ item.createdAt * 1000 | date :'medium' }}</td>
                                            <!-- <td scope="col">
                                                <ol class="list-group list-group-numbered">
                                                    <li class="list-group-item d-flex justify-content-between align-items-start"
                                                        *ngFor="let variant of item.variants">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">{{variant.name}}</div>
                                                            {{variant.price | currency : 'LKR': true}}
                                                        </div>
                                                        <span
                                                            class="badge bg-primary rounded-pill">{{variant.qty}}</span>
                                                    </li>
                                                </ol>
                                            </td> -->
                                            <td scope="col">{{item.brand}}</td>
                                            <td scope="col">{{item.subCategoryId.name}}</td>
                                            <td scope="col">
                                                <button mat-icon-button color="primary" (click)="openViewDialog(item)"
                                                    aria-label="Example icon button with a home icon">
                                                    <mat-icon>remove_red_eye </mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary"
                                                    aria-label="Example icon button with a home icon"
                                                    (click)="openEditDialog(item)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary"
                                                    (click)="openConfirmationDialog(item.id, item.name)"
                                                    aria-label="Example icon button with a home icon">
                                                    <mat-icon>delete</mat-icon>
                                                </button>

                                            </td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <mat-paginator [length]="length" [pageSize]="pageSize"
                                            [pageSizeOptions]="pageSizeOptions" aria-label="Select page"
                                            (page)="onPaginatorChange($event)">
                                        </mat-paginator>
                                        <!-- <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item" *ngFor="let p of pages; let i = index"><a
                                                        class="page-link" (click)="setPage(i,$event)">{{i+1}}</a></li>

                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav> -->
                                    </tfoot>
                                </table>
                            </div>
                            <div class="card-read-more">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>