<app-dashboard-navbar></app-dashboard-navbar>
<app-dashboard-sidebar></app-dashboard-sidebar>
<section class="wrapper">
    <div class="container-fostrap">
        <div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-7">
                        <div class="card">

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="Single_Input" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <div class="card">
                                        <div class="card-content">
                                            <form class="row g-3">
                                                <div class="col-md-12">
                                                    <label for="inputEmail4" class="form-label">Product Name</label>
                                                    <input type="email" class="form-control" id="inputEmail4">
                                                </div>
                                                <div class="col-6">
                                                    <label for="inputAddress" class="form-label">Price</label>
                                                    <input type="number" class="form-control" id="inputAddress"
                                                        placeholder="999">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputState" class="form-label">Qty</label>
                                                    <input type="number" class="form-control" id="inputAddress"
                                                        placeholder="1">
                                                </div>
                                                <div class="col-12">
                                                    <label for="inputAddress2" class="form-label">Catagory</label>
                                                    <select id="inputState" class="form-select">
                                                        <option selected>Choose...</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="inputCity" class="form-label">Description</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                                        rows="3"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="formFileSm" class="form-label">Image</label>
                                                    <input class="form-control form-control-sm" id="formFileSm"
                                                        type="file">
                                                </div>

                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary">Create</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="card">
                            <div class="card-content">
                                <div class="pricing4 py-5 bg-light">
                                    <div class="row mt-4">
                                        <div class="col-md-12">
                                            <div class="card card-shadow border-0 mb-4">
                                                <img class="card-img-top"
                                                    src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/img1.jpg"
                                                    alt="wrappixel kit">
                                                <div class="p-3">
                                                    <h5 class="font-weight-medium mb-0">BODY BUILDING PROGRAM
                                                    </h5>
                                                    <h6 class="subtitle font-13">WITH JOHNATHAN DOE</h6>

                                                    <div class="d-flex mt-3 align-items-center">
                                                        <h2 class="price">$99</h2>
                                                        <div class="ml-auto"><a
                                                                class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"
                                                                href="">Add to cart</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Receiver Name</th>
                                            <th scope="col">Receiver Address</th>
                                            <th scope="col">Receiver Contact</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-success">
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr class="table-danger">
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>Thornton</td>
                                            <td>Thornton</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr class="table-info">
                                            <td>Larry the Bird</td>
                                            <td>Thornton</td>
                                            <td>Thornton</td>
                                            <td>Thornton</td>
                                            <td>@twitter</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="card-read-more">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>