<aside class="sidebar">
    <div class="side-inner">

        <div class="profile">
            <img src="/assets/dashboard/img/person_profile.jpg" alt="Image" class="img-fluid">
            <h3 class="name">{{name}}</h3>
            <span class="country">{{address}}</span>
        </div>

        <div class="counter d-flex justify-content-center">
            <div class="col">
                <strong class="number">892</strong>
                <span class="number-label">Posts</span>
            </div>
            <div class="col">
                <strong class="number">22.5k</strong>
                <span class="number-label">Followers</span>
            </div>
            <div class="col">
                <strong class="number">150</strong>
                <span class="number-label">Following</span>
            </div>
        </div>

        <div class="nav-menu">
            <ul>
                <li class="active"><a href="dashboard"><span class="icon-home mr-3"></span>Dashboard</a></li>
                <li><a href="listing-page"><span class="icon-search2 mr-3"></span>Listing</a></li>
                <li><a href="profile-page"><span class="icon-location-arrow mr-3"></span>Profile</a></li>
                <li><a href="catalog-page"><span class="icon-pie-chart mr-3"></span>Catalog</a></li>
                <li><a (click)="logout()"><span class="icon-sign-out mr-3"></span>Sign out</a></li>
            </ul>
        </div>
    </div>

</aside>