.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .custom-expansion-panel {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
  }
  
  .custom-expansion-panel-header {
    background-color: #e0e0e0;
    color: black;
  }
  
  .custom-expansion-panel-content {
    padding: 16px;
  }
  .custom-expansion-panel-title{
    color: black;
  }

  .mat-expansion-panel{
    color: black;
  }
  .mat-panel-title{
    color: black;
  }
  .mat-expansion-panel-header-title{
    color: black;
  }

  .mat-expansion-panel-header-description{
    color: black;
  }
  .example-card{
    background-color: white;
  }
  .mat-mdc-button:not(:disabled) {
    color: black;
}
.map-container {
    width: 100%;
    height: 400px; /* Set the desired height for your map */
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

  html,
  body {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    height: 100%;
    width: 100%; 
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
   
  .wrapper {
    display: table;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
  }
  .fostrap-logo {
    width: 100px;
    margin-bottom:15px
  }
  @media (min-width: 450px) {
    h1.heading {
      font-size: 16px;
    }
  }
  @media (min-width: 760px) {
    h1.heading {
      font-size: 16px;
    }
  }
  @media (min-width: 900px) {
    h1.heading {
      font-size: 16px;
      margin: 0 0 0.3em;
    }
  } 
  