.example-container{
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  }
  .drawer{
    width: 265px;
    background-color: white;
  }


.main-content {
  transition: all 0.2s ease-in-out;
  margin-left : 100%;
}  
.navbar {
  transition: top 0.3s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-center .navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
