.example-container{
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  }
  .drawer{
    width: 265px;
    background-color: white;
  }
  .sidenav{
    background: white;
  }
  .container-sidenav{
    background: rgb(255, 255, 255);
  }
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-content {
  transition: all 0.2s ease-in-out;
  margin-left : 100%;
}


@media (min-width: 1200px) {
  .sidenav:hover {
    max-width: 15.625rem;
  }

  .sidenav .sidenav-toggler {
    padding: 1.5rem;
  }

  .sidenav.fixed-start~.main-content {
    margin-left: 17.125rem;
  }

  .sidenav.fixed-end~.main-content {
    margin-right: 17.125rem;
  }
}
@media (max-width: 1199.98px) {
  .g-sidenav-show.rtl .sidenav {
    transform: translateX(17.125rem);
  }

  .g-sidenav-show:not(.rtl) .sidenav {
    transform: translateX(-17.125rem);
  }

  .g-sidenav-show .sidenav.fixed-start~.main-content {
    margin-left: 0 !important;
  }

  .g-sidenav-show.g-sidenav-pinned .sidenav {
    transform: translateX(0);
  }
}
@media (min-width: 1200px) {
  .g-sidenav-hidden.rtl .main-content {
    margin-right: 6rem !important;
  }

  .g-sidenav-hidden.rtl .main-content :hover {
    max-width: 15.625rem !important;
  }

  .g-sidenav-hidden.rtl .sidenav:hover+.main-content {
    margin-right: 17.125rem !important;
  }

  .g-sidenav-hidden  {
    max-width: 6rem !important;
  }

  .g-sidenav-hidden .fixed-start~.main-content {
    margin-left: 7.5rem;
  }

  .g-sidenav-hidden  bar-brand img {
    width: auto !important;
  }

  .g-sidenav-hidden  bar-brand span {
    opacity: 0;
  }

  .g-sidenav-hidden    .icon {
    padding: 10px;
  }

  .g-sidenav-hidden    -text,
  .g-sidenav-hidden    .sidenav-normal {
    opacity: 0;
    width: 0;
  }

  .g-sidenav-hidden    .sidenav-mini-icon {
    min-width: 1.8rem;
    margin-left: 0.15rem;
    opacity: 1;
  }

  .g-sidenav-hidden   [data-bs-toggle="collapse"]:after {
    content: "";
  }

  .g-sidenav-hidden   .collapse  {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .g-sidenav-hidden   .collapse    {
    margin-left: 1rem;
  }

  .g-sidenav-hidden   .collapse   :before {
    content: none;
  }

  .g-sidenav-hidden   .collapse   [data-bs-toggle="collapse"]:after {
    content: "\f107";
  }

  .g-sidenav-hidden  .card.card-background .icon-shape {
    margin-bottom: 0 !important;
  }

  .g-sidenav-hidden  .card.card-background .docs-info {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .g-sidenav-hidden :hover {
    max-width: 15.625rem !important;
  }

  .g-sidenav-hidden :hover.fixed-start~.main-content {
    margin-left: 17.125rem;
  }

  .g-sidenav-hidden :hover bar-brand span {
    opacity: 1;
  }

  .g-sidenav-hidden :hover   -text,
  .g-sidenav-hidden :hover   .sidenav-normal {
    opacity: 1;
    width: auto;
  }

  .g-sidenav-hidden :hover   .sidenav-mini-icon {
    opacity: 0;
    width: 0;
    min-width: 0;
  }

  .g-sidenav-hidden :hover  [data-bs-toggle="collapse"]:after {
    content: "\f107";
  }

  .g-sidenav-hidden :hover  .collapse  {
    margin-left: 1.5rem !important;
    padding-left: 1rem !important;
  }

  .g-sidenav-hidden :hover  .collapse    {
    margin-left: 1.35rem;
  }

  .g-sidenav-hidden :hover  .collapse   :before {
    content: "";
  }

  .g-sidenav-hidden :hover  .collapse   .collapse ,
  .g-sidenav-hidden :hover  .collapse   .collapsing  {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .g-sidenav-hidden :hover  .collapse   .collapse   :before,
  .g-sidenav-hidden :hover  .collapse   .collapsing   :before {
    content: none;
  }

  .g-sidenav-hidden :hover .card.card-background .icon-shape {
    margin-bottom: 1rem !important;
  }

  .g-sidenav-hidden :hover .card.card-background .docs-info {
    opacity: 1;
    width: auto;
    height: auto;
  }
}
  
  
  a {
    letter-spacing: -0.025rem;
    color: #344767;
  }
  
  
