<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="'side'" opened class="drawer">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="container-sidenav">
        <!-- Navbar-->
        <div class="position-relative" style="margin-left: 10px; margin-top: 10px;">
            <div class="position-absolute top-0 start-0">
                <button (click)="sidenav.toggle()" type="button" class="btn btn-outline-secondary">
                    <fa-icon [icon]="faBars"></fa-icon>
                </button>
            </div>
        </div>
        <!-- Navbar -->
        <app-dashboard *ngIf="componentToShow == 'dashboard'"></app-dashboard>
        <app-listing-page *ngIf="componentToShow == 'listing-page'"></app-listing-page>
        <app-catalog-page *ngIf="componentToShow == 'catalog-page'"></app-catalog-page>
        <app-profile-page *ngIf="componentToShow == 'profile-page'"></app-profile-page>
        <app-tracking-page *ngIf="componentToShow == 'tracking-page'"></app-tracking-page>
        <app-setting-page *ngIf="componentToShow == 'settings-page'"></app-setting-page>
    </mat-sidenav-content>
</mat-sidenav-container>